/*---------------------------------------------------------------------
use for mobile device style 
---------------------------------------------------------------------*/

@media screen and (max-width:576px){
    /* header style here */
    header, .gamer, .funny-video, .play-game, .play-game-v2{
        padding: 20px ;
    }
    nav, ul, .gamer, .funny-video-assets, .play-game, .play-game-v2{
        flex-direction: column;
    }
    
    .nav-banner, .play-game-v2{
        flex-direction: column-reverse;
    }
    .play-game-v2{
        flex-direction: column-reverse;
    }
    .nav-menu ul li{
    margin-top: 40px;
    }
    .banner-img img{
        margin-top: 50px;
    }
    .gamer-contant{
        text-align: center;
    }
    .play-game-container{
        text-align: center;
    }
    .play-game-img .play-game-subimg {
        position: absolute;
        width: 32%;
        bottom: -1%;
        right: 67%;
    }
    .play-game-img {
        padding: 60px;
    }
    .play-game-desc {
        color: #534C64;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    /* play-game-v2 */
    .play-game-container-v2{
        text-align: center;
    }
    .play-game-img-v2 .play-game-subimg-v2 {
        position: absolute;
        width: 32%;
        bottom: 1%;
        left: 62%;
    }
    .play-game-img-v2 {
        padding: 60px;
    }
    .play-game-desc-v2 {
        color: #534C64;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}

/*---------------------------------------------------------------------
use for tablet  or portreted device style
---------------------------------------------------------------------*/
@media screen and (min-width:576px) and (max-width:946px){
    /* header style here */
    header, .gamer, .funny-video, .play-game, .play-game-v2{
        padding: 20px ;
    }
    nav, ul, .gamer, .funny-video-assets, .play-game, .play-game-v2{
        flex-direction: column;
    }
    
    .nav-banner, .play-game-v2{
        flex-direction:column-reverse;
    }
    .nav-menu ul li, .gamer{
    margin-top: 40px;
    }
    .banner-img img{
        margin-top: 50px;
    }
    .gamer-contant{
        text-align: center;
    }
    .funny-video-assets{
        flex-wrap: wrap;
    }

    .play-game-container{
        text-align: center;
    }
    .play-game-img .play-game-subimg {
        position: absolute;
        width: 32%;
        bottom: -1%;
        right:  67%;
    }
    .play-game-img {
        padding: 60px;
    }
    .play-game-desc {
        color: #534C64;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    /* play game-v2 */
    .play-game-container-v2{
        text-align: center;
    }
    .play-game-img-v2 .play-game-subimg-v2 {
        position: absolute;
        width: 32%;
        bottom: -1%;
        left: 67%;
    }

    .play-game-img-v2 {
        padding: 60px;
    }
    .play-game-desc-v2 {
        color: #534C64;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}