@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common sheared style here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header, .gamer, .funny-video, .play-game, .play-game-v2, .feature, .footer{
    max-width: 1992px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 16px 200px;
    margin-bottom: 100px;
}

.main-desc{
    color: #534C64;
    
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 35px;
    
}

/*-------------------------------------------------------------------------
header style start here 
---------------------------------------------------------------------------*/

/* nav style here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo img{
    width: 100%;
}
.nav-logo h3{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-logo span{
    color: #FF42A5;
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
    margin-right: 40px;
}
.nav-menu ul .icon-li{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); 
    padding: 16px 20px;
}
.nav-menu ul .icon-li i{
    margin-left: 16PX;
    padding: 3px;
    
}
.nav-menu ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* nav-banner style here */
.nav-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 30px;

}


.nav-banner-contant .banner-subtitle{
    color: #0B0223;  
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    }
.nav-banner-contant .banner-title{
    font-size: 5.9rem;
    font-weight: 800;
    margin-bottom: 24px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-banner-contant .banner-desc{
    color: #534C64;
    text-align: left;
    margin-bottom: 17px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
    
}
.nav-banner-contant .banner-desc i {
    font-size: 15px;
    padding: 6px;
    border: 2.5px solid rgba(0, 0, 0, 0.73);
    border-radius: 50%;
    margin-right: 10px;
}
.nav-banner-contant .banner-btn1{
    border: none;
    border-radius: 40px;
    background-color: #F948B2;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
}
.nav-banner-contant .banner-btn2{
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 40px;
    margin-left: 5px;
    text-transform: uppercase;
    margin-top: 40px;
}
.banner-img img{
    width: 100%;
}

/* gamer section style here */
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.gamer-img img{
    width: 100%;
}
.gamer-contant{
   text-align: right;
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    }
    .gamer-btn{
    border: none;
    border-radius: 40px;
    background-color: #F948B2;
    padding: 10px 30px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
    }

    .our-perpose .purpose{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
    }
    .our-perpose{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
    }
    /* funny-video section style here */
    .funny-video-contant{
        text-align: center;
    }
    .funny-video-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    }
    .funny-video-title span{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    }
    .funny-video-assets{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        gap: 25px;
    }
    .funny-video-card{
        text-align: center;
        position: relative;
        width: 340px;
        
    }
    .funny-video-card .img-overlay{
        position: absolute;
        top: 35%;
        right: 32%;
        opacity: 0;
        transition: 0.2 ease-out;
    }
    .funny-video-card .img-overlay i {
    color: white;
    font-size: 3rem;
    }
    .funny-video-card .img-overlay p {
    color: white;
    font-size: 1.5rem;
    }

    .funny-video-card:hover .img-overlay{
    opacity: 1;
    }
    .funny-video-card img{
    max-width: 100%;
    transition: 0.2s ease-out;
    }
    .funny-video-card img:hover {
    filter: brightness(30%); 
    border: 5px solid #ed0909;
    border-radius: 25px;
    }
    .funny-video-card-desc{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
    }
      
    /* play-game section here */
    .play-game{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 120px;

    }
    .play-game-container{
        width: 400px;
        text-align: right;
    }
    .play-game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    }
    .play-game-title .play-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }
    .play-game-desc{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }
    .play-game-img img{
        width: 100%;
        right: 50px;
        top: 50px;
        
    }
    .play-game-img {
        position: relative;
        padding: 50px;
        
    }
    .play-game-img .play-game-subimg{
        position: absolute;
        width: 45%;
        bottom:-5%;
        right: 65%;
    }

    /* play-game-v2 section here */
    .play-game-v2{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 120px;

    }
    .play-game-container-v2{
        width: 400px;
        text-align: left;
    }
    .play-game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    }
    .play-game-title .play-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }
    .play-game-desc{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }
    .play-game-img-v2 img{
        width: 100%;
        right: 50px;
        top: 50px;
        
    }
    .play-game-img-v2 {
        position: relative;
        padding: 50px;
        
    }
    .play-game-img-v2 .play-game-subimg-v2{
        position: absolute;
        width: 45%;
        bottom:-5%;
        right: 65%;
    }

    /* feature section style here */
    .feature{
        display: flex;
        justify-content: space-between;  
        align-items: center;
    }
    .feature-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    }

    .feature-title{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600

    }

    .feature-item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        transition: 0.3s;
        padding: 10px 10px;
        margin: 10px 20px;
    }

    .feature-item:hover {
        border: 4px solid #F948B2; 
        border-radius: 30px;
        color: #FF42A5;
    }


/*-------------------------------------------------------------------------
header style end here 
---------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------
main style end here 
---------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------
main style end here 
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
footer style end here 
---------------------------------------------------------------------------*/
.footer{
    text-align: center;
    background-color:#0B0223;
    padding: 50px 0;
    
}
.footer-logo, ul, .footer-menu, .footer-icon, .footer-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.footer-logo h3{
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 5px;
}


.footer-menu ul li{
    list-style: none;
    margin-left: 30px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer-icon ul li{
    list-style: none;
    margin-left: 40px;
    font-size: 40px;
}

.footer-contant ul li{
    list-style: none;
    margin-left: 20px;
}
.footer-contant ul li p{
    color: #7e7d7d;
}
.footer > p {
    color: gray;
    
}

/*-------------------------------------------------------------------------
footer style end here 
---------------------------------------------------------------------------*/


